.row {
    max-height: 500px;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 30px !important;
    padding-left: 30px;
    padding-right: 30px;
}

.styled {
    margin: auto;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    max-width: min-content;
    height: 450px;
    background-color:#eee;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px #777;
    margin: 20px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px 2px #777;
}

img {
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.expanded {
    width: fit-content;
}

.thumbnail {
    margin:0;
    max-width:400px;
}

.scrollable {
    max-height: max-content;
    overflow-y: scroll;
    white-space: nowrap;
    overflow-y: auto;
    overflow: auto;
}


hr {
    width: 80%;
    align-self: center;
}
