

<div class="row">
  <h2 style="align-self: center; margin: auto;">Prossimi Eventi</h2>
</div>


    <div class="row" *ngIf="eventi"> <!--controlla se ci sono elementi nell'array eventi-->

        <div *ngFor="let evento of eventi"> <!--itera tra tutti gli elementi dell'array-->



                <div class ="card"> <!--inizio elemento della card evento-->
                    <div class="styled">
                        <h2>{{evento.event_name}}</h2>
                        <h4>{{evento.event_location}}</h4>
                    </div>
                        <img [src]="evento.img_src" class="thumbnail" alt="foto">
                </div>




        </div>

    </div>


