body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  width: 100%;
}

/* ombre */
.shadowy {
  box-shadow: 5px 5px 5px #ccc;
}

/* stile container */
.container {
  max-width: 800px;
  max-height: 800px;
  position: relative;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
  background-color: #f2f2f2;
  padding: 5px 5px 5px 5px;
}
/*logo*/
.logo:hover{
  cursor: pointer;
}
.logo{
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
}

.logoalign {
  align-items: middle;
}
/* stili per input e pulsanti */
input,
.btn {
  width: 100%;
  height: auto;
  padding: 12px;
  border: none;
  border-radius: 15px 15px 15px 15px;
  margin: 10px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none; /* rimuove sottolineature dall'ancoraggio */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* aggiunge i colori giusti ai pulsanti Facebook,Twitter e google */
.fb {
  padding-top: 20px;
  background-color: #3B5998;
  color: white;
}

.SPID{
  padding-top: 20px;
  background-color:darkgoldenrod;
  color: white;
}

.google {
  padding-top: 20px;
  background-color: #dd4b39;
  color: white;
}

/* stile del bottone di invio*/
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Layout a doppia colonna */
 .col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
} */

/* pulisce vuoto tra le colonne */
 .row:after {
  content: "";
  display: table;
  clear: both;
}

/* linea verticale */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* testo dentro la linea verticale */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* nasconde testo  */
.hide-md-lg {
  display: none;
}

/* container della parte grigia con Sign up e Forgot Password?  */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 20px 20px;
}

/*centro della pagina*/
.centerAll {
  padding-top: 100px;
  align-content: center;
}

.extended {
  margin-left: 10px;
  margin-right: 10px;
 }

/*Layout responsivo */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 5px;
  }

  .centerAll{
    justify-content: center;
    padding-top: 0px;
  }

  .row {
    flex-direction: column;
  }

  /* nasconde linea verticale */
  .vl {
    display: none;
  }
  /* mostra testo  */
  .hide-md-lg {
    display: block;
    text-align: center;
  }

   .container {
     padding-right: 15px;
   }

   .login {
     padding-top: 30px;
     margin-left: 8px;
    }

   .padded{
     padding: 10px;
   }

   .container, .bottom-container {
     border-radius: 0px;
   }

 }



