<div class="navbar">
    <img src="assets/EventX.png" routerLink="/home" alt="Logo" width="20%" class="logo">
    <h5>Organizza il tuo Evento, inserisci le informazioni necessarie.</h5>
</div>

<fieldset>
        <Legend><b style="color: rgb(43, 43, 43); margin-left: 1%; font-size: 15px;">Scegli le immagini da caricare:</b></Legend>
        <figure>
        </figure>
        <figcaption>
            <input type="file" id="foto" name="foto" accept="image/png, image/jpeg, image/jpg">
        </figcaption>
</fieldset>

<div class="Descrizione">
    <div class="d-flex justify-content-between bg-light">
        <div class="col-lg-6">
            <fieldset style="background-color:rgb(175, 175, 175); border-radius: 15px; padding-right: 5%;">
                <legend>Descrizione Evento</legend>
                
                <form style="margin-left: 2%;" id="form">
                    Nome <input type="text" id="nomeEvento" name="nome" placeholder="Nome Evento"><br>

                    L'evento sarà:
                    
                    <input type="radio" id="pubblico" name="Evento" checked>Pubblico
                    <input type="radio" id="privato" name="Evento">Privato<br>

                    Tipologia
                    <select class="tipology" name="tipology">
                        <option value="Artistici">Artistico</option>
                        <option value="Musicali" selected="select">Musicale</option>
                        <option value="Enogastronomici">Enogastronomici</option>
                        <option value="Culturali">Culturale</option>
                    </select><br>

                    Data inizio 
                    <input type="date" id="dataInizio" name="dataInizio"><br>
                    Data fine 
                    <input type="date" id="dataFine" name="dataFine"><br>
                                       
                    <div style="position: relative;">Descrizione</div> 
                    <textarea id="descrizione1" cols="50" rows="8" placeholder="Descrizione Evento"></textarea><br>

                    Ci saranno Espositori:


                    <input *ngIf="!contentVisible" (click)="contentVisible = true" type="radio" name="espositore" id="si">
                        Si
                    <input type="radio" name="espositore" id="no" checked>
                        No
                    
                    <div *ngIf="contentVisible">
                        
                        Nome: <input type="text" name="nomeEspositore" id="nome" placeholder="Nome"><br>
                        Cognome: <input type="text" name="cognomeEspositore" id="cognome" placeholder="Cognome"><br>
                        Email: <input type="email" name="emailEspositore" id="email" placeholder="example@gmail.com"><br>
                        Prodotto: <input type="text" name="prodottoEspositore" id="prodotto" placeholder="Prodotto Esposto"><br>
                        Clicca qui se hai sbagliato e non ci saranno espositori?<input type="radio" *ngIf="contentVisible" (click)="contentVisible = false"> <br>
                    </div>

                    <input type="submit" id="submit" name="submit" value="Invia">
                </form>
            </fieldset>
        </div>
        <div class="col-lg-4">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571289.733943155!2d76.08560099999998!3d29.058775699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e4a4b98404f57%3A0x75ffae70833e8448!2sShahbad%2C%20Haryana%20136135!5e0!3m2!1sen!2sin!4v1594195370933!5m2!1sen!2sin" width="350" height="200" frameborder="0" style="border: 0; margin-right: 5%; margin-top: 5%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>   
    </div>
</div>