label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}

.navbar {
    background-color: rgb(240, 240, 240);
    padding: 1%;
    color: seagreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
figure {
    background-color: rgb(235, 235, 235);
    padding: 15% 0% 15% 0%;
    border-radius: 10px;
    margin: 1%;
}
#foto {
    float: right;
    margin-left: 0;
}
#nomeEvento {
    margin-left: 2%;
    width: 55%;
}
.tipology {
    margin-top: 2%;
    margin-left: 2.5%;
    
}
#dataInizio {
    margin-top: 2%;
    margin-left: 1%;
}
#dataFine {
    margin-top: 2%;
    margin-left: 3%;
}
#submit {
    float: right;
}
#si {
    margin-top: 2%;
}
#nome {
    margin-left: 5.5%;
    width: 50%;
}
#cognome {
    width: 50%;
    margin-left: 1%;
}
#email {
    margin-left: 5.7%;
    width: 50%;
}
#prodotto {
    margin-left: 2%;
    width: 50%;
}
.logo:hover{
    cursor: pointer;
}


@media (max-width: 600px) {
    h5 { 
        width: 50%;
        font-size: 15px;
    }
    .logo {
        width: 30%;
    }
    figure {
        width: 90%;
        margin-left: 5%;
    }
    #foto {
        width: 40%;
        font-size: 10px;
    }
    .descrizione {
        width: 30%;
    }
    #form {
        font-size: 70%;
    }
    .map {
        font-size: 20px;
    }
    
    
}
