<!--Ecco cosa convalidiamo nel modulo:
username: necessario
password: obbligatoria, minLength = 6-->
<div class="padded centerAll">
  <div class="container shadowy">
    <img src="assets/EventX.png" routerLink="/home" alt="logo" class="logo">
    <div class="row justify-content-center container">
    </div>

    <div class="container">
      <form class="form-group" action="/action_page.php">
        <div class="row">
  
  
          <div class="vl">
            <span class="vl-innertext">or</span>
          </div>
  
          <div class="col extended">
            <input type="text" name="email" placeholder="Email" required autocomplete="off" [(ngModel)]="form.email">
            <input type="password" name="password" placeholder="Password" required autocomplete="off" [(ngModel)]="form.password">
            <input type="submit" value="Login" (click)="onSubmit()">
          </div>
           <div class="col hide-md-lg login">
            <p>Or sign in with:</p>
          </div>
  
          <div class="col extended">
            <a href="#" class="fb btn">
              <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </a>
          <a href="#" class="google btn"><i class="fa fa-google fa-fw">
              </i> Login with Google+
            </a>
            <!--<a routerLink="/spid" class="SPID btn" class="fa fa-google fa-fw"><i>
            </i> Entra come UserPro
          </a>-->
          </div>
        </div>
      </form>
  
    </div>
    </div>
  
    <div class="container bottom-container shadowy">
      <div class="row">
        <div class="col">
          <a routerLink="/register" style="color:white" class="btn">Sign up</a>
        </div>
        <div class="col">
          <a href="#" style="color:white" class="btn">Forgot password?</a>
        </div>
      </div>
    </div>
  
  </div>