
/*  .themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }
  
  .themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
  } */

  /*Combobox per i filtri*/
  /*select{
    margin-right: 5px;
    text-align: center;
    height: 40px;
    border-radius: 10px;
  }
  .checkbox{
    margin-right: 30px;
  }

   button{
     width: 100px;
     border-radius: 10px;
   }

 .mb-3{
      width: 155%;
  }

.testo{
    display: block;
}
.pb-3{
  margin-left: 8px;
}
h1{
  font-size: 30px;
  margin-top: 20px;
}
h2{
  font-size: 25px;
}  

h3{
  font-size: 20px;
}

h4{
  font-size: 15px;
} */
#logo {
  padding-right: 8%;
}
main:hover {
  cursor: pointer;
}

@media (min-width: 992px) {

.navbar .nav-item {
   display: none;
} 
.navbar .nav-item:hover .dropdown-menu { 
  display: block; 
}
.navbar {
  padding: 1%;
}


}