

<footer class="pagine">
    <div class="d-flex flex-row justify-content-between">
        <div class="contatti">
            <ul>
                <li class="centro">Contattaci:</li>
                <li><i class="fas fa-map-marker-alt"></i> Sede Operativa: Via dei LongoBardi 9, Benevento</li>
                <li><i class="fas fa-envelope"></i>  Email: Example@contrader.it</li>
                <li><i class="fas fa-phone"></i> Tel: 3334455666</li>
                <li><i class="fas fa-hands-helping"></i> Assistenza</li>
                <li><i class="fas fa-question-circle"></i> FAQ</li>
            </ul>
        </div>
        <div class="carte">
            <ul>
                <li><img src="assets/pay/paypal.png"></li>
                <li><img src="assets/pay/maestro.png" height="20" width="30"></li>
                <li><img src="assets/pay/mastercard.png"></li>
                <li><img src="assets/pay/visa.png"></li>
                <li><img src="assets/pay/americanexpress.png"></li>
            </ul>

            <hr align="right" size="5" width="100%" color="black">

            <b>SPONSOR</b>
                <div class="d-flex flex-row justify-content-center">
                    <ul class="loghi">
                        <li>Logo1</li>
                        <li>Logo2</li>
                        <li>Logo3</li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="barra">
        <hr align="left" size="5" width="100%" color="black">
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="copyright">
            <ul>
                <li><i>@2021 Contrader S.R.L.</i></li>
                <li><b>P.IVA:</b><i> 86334519757</i> - <b>Sede legale:</b><i> Benevento</i></li>
            </ul>
        </div>
        <div class="condizioni">
            <ul>
                <li><a href="#"><i>SPID/</i></a></li>
                <li><a href="#"><i> Termini&Condizioni/</i></a></li>
                <li><a href="#"><i> Regolamento/</i></a></li>
                <li><a href="#"><i> Privacy/</i></a></li>
                <li><a href="#"><i> Cookies</i></a></li>
            </ul>
        </div>
    </div>
    <div class="barra1">
        <hr align="left" size="5" width="100%" color="black">
    </div>
</footer>
