.pagine {
    background-color: #F2F2F2;
    margin-top: -25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border-radius: 0px;
    width: 100%;
}

.contatti ul {
    list-style: none;
    margin-left: 0px;
}

.contatti {
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.carte {
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 0px;
    margin-right: 0px;
}

.carte ul {
    list-style: none;
}

.carte ul li {
    display: inline;
    padding-right: 15px;
}

.carte hr{
    margin-right: 50px;
}

.carte b{
    margin-left: 125px;
}

.loghi {
    padding-left: 0px;
}



.barra {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.copyright {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.copyright ul {
    list-style: none;
}

.copyright ul li {
    display: block;
}

.condizioni {
    padding-right: 50px;
}

.condizioni ul {
    list-style: none;
}

.condizioni ul li {
    display: inline;
}

.condizioni ul li a{
    color: black;
    text-decoration: none;
}

.condizioni ul li a:hover{
    color: rgb(117, 94, 94);
}

.barra1 {
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
}
