<!-- Usiamo un form validation nel template :
username: richiede , minLength=3, maxLength=20
email: richiede , un formato email
password: richiede , minLength=6 -->

<div class="padded centerAll">
  <div class="container shadowy">
    <img  class="logo" src="assets/EventX.png" class="logo">

    <div class="row justify-content-center container">
      <h2 class="login">Sign Up</h2>
    </div>

    <div class="container">
      <form  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="form-group" action="/action.page.php">

          <div class="row">
            <div class="col">
              <input type="text" name="nome" placeholder="Nome" required autocomplete="off" [(ngModel)]='usertoinsert.nome' required #nome="ngModel">
            </div>
            <div class="col">
              <input type="text" name="cognome" placeholder="Cognome" required autocomplete="off" [(ngModel)]='usertoinsert.cognome' required #cognome="ngModel">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="alert-danger" *ngIf="nome.errors && f.submitted">
                <div *ngIf="nome.errors.required">Nome richiesto</div>
              </div>
              </div>
              <div class="col">
              <div class="alert-danger" *ngIf="cognome.errors && f.submitted">
                <div *ngIf="cognome.errors.required">Cognome richiesto</div>
              </div>
            </div>
          </div>


        <div class="row">
          <div class="col">
            <input name="email" placeholder="email" required autocomplete="off" [(ngModel)]='usertoinsert.email' required #email="ngModel">
          </div>
          </div>
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email richiesta</div>
          </div>

          <div class="row">
            <div class="col">
              <input type="password" name="password" placeholder="Password" required autocomplete="off"  [(ngModel)]='usertoinsert.password' required #password="ngModel">
              <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">Password richiesta</div>
              </div>
            </div>

            <div class="col">
              <input type="password" name="password_2" placeholder="Conferma Password" required autocomplete="off" require  >
            </div>
          </div>


        <div class="row">
          <div class="col">
            <input type="submit" (click)='onSubmit()' value="Sign Up">
          </div>
          <div class="col">
            <input class="btn btn-danger" type="button" [routerLink]="['/home']" routerLinkActive="router-link-active"  value="Torna alla home">
          </div>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
        </div>
      </form>
  </div>
  </div>
</div>

<!--<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>-->
