#titolo {
    
    border: none !important; 
    color: #000000 !important;
    padding: 1%;
    text-align: start !important;
    font-family: monospace;
    
}
.tipology {
    border-radius: 10px;
    padding: 1%;
    margin-left: 10%;
}
.tipology:hover{
    background-color: rgb(216, 216, 216);
    
}
body {
    background-color:#F8F9FA;
}
/* .pubblico {
    padding-right: 5%;
}
.privato {
    padding-left: -10%;
} */
.d-flex {
    padding: 1%;
    margin-right: 8%;
}
hr {
    border: 1%;
}

.conteiner {
    padding: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
}

.d-flex {
    margin-right: 0%;
}

.map{
    margin-left: 20%;
    width: 80%;
    height: 350;


}

.organizzatori {
    background-color: #F8F9FA;
    padding: 1%;
}

.organizzatori ul {
    list-style: none;
    padding: 5%;
}
.col-lg-3 {
    background-color: rgb(175, 247, 247);
    border: solid;
    border-radius: 10px;
}
.espositori {
    background-color: #F8F9FA;
    padding: 1%;
}

.espositori ul {
    list-style: none;
    padding: 5%;
}

.img {
    border-radius: 15px;
    border: solid;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    width: 50%;
    
}

fieldset {
    background-color: #F8F9FA;
    color: #000000;
}


.navbar-toggler {
    background-color: #797979;
    margin-left: 3%;
    color: white;
}

@media (max-width: 600px) {
    .col-lg-4 {
        font-size: 60%;
    }
    .map {
        width: 120%;
        height: 10px;
    }
    .col-lg-3 {
        font-size: 70%;
        padding: 2%;
    }
    #img {
        width: 2%;
    }
    #legend {
        font-size: 70%;
    }
    .cale {
        width: 50%;
    }
    .tipology {
        font-size: 70%;
    }
}