<body>

    <div>

        <div id="titolo">
            <h2>Titolo Evento </h2>
        </div>  

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEventi" aria-controls="navbarEventi" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarEventi">
            <nav class="navbar navbar-dark bg-light">
            
                <fieldset class="col-lg-5">
                    <legend id="legend">Data dell'evento</legend>
                    <!-- <app-calendario></app-calendario> -->
                </fieldset>

                <fieldset class="col-lg-5">
                    <legend id="legend">Tipologia dell'evento:</legend>
                        <!-- <select class="tipology" name="tipology">
                            <option value="Artistici">Artistici</option>
                            <option value="Musicali" selected="select">Musicali</option>
                            <option value="Enogastronomici">Enogastronomici</option>
                            <option value="Culturali">Culturali</option>
                        </select> -->
                </fieldset>

                <div class="col-lg-2">
                    <fieldset>
                        <legend id="legend">L'evento è:</legend>
                            <!-- <input type="radio" id="pubblico" name="Evento">
                            <label for="pubblico">Pubblico</label><br>

                            <input type="radio" id="privato" name="Evento">
                            <label for="privato">Privato</label><br> -->

                    </fieldset>
                </div>
            </nav>  
        </div>

        <hr>

        <div class="conteiner">
            <img class="col-lg-10" src="assets/a.jpg" alt="Evento Immagine">
        </div>

        <div class="d-flex justify-content-between bg-light">
            <div class="col-lg-4">
                <p>
                    Quomodo fabula, sic vita: non quam diu, sed quam bene acta sit, refert.
                    Quomodo fabula, sic vita: non quam diu, sed quam bene acta sit, refert.
                    Quomodo fabula, sic vita: non quam diu, sed quam bene acta sit, refert.
                    Quomodo fabula, sic vita: non quam diu, sed quam bene acta sit, refert.
                    Quomodo fabula, sic vita: non quam diu, sed quam bene acta sit, refert.
                    Quomodo fabula, sic vita: non quam diu, sed quam bene acta sit, refert.
                   
                    
                </p>
            </div>    
            
            <div class="col-lg-4">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571289.733943155!2d76.08560099999998!3d29.058775699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e4a4b98404f57%3A0x75ffae70833e8448!2sShahbad%2C%20Haryana%20136135!5e0!3m2!1sen!2sin!4v1594195370933!5m2!1sen!2sin" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <div class="segui" style="float: right; margin-right: 80%; border: solid; border: black; border-radius: 15px; background-color: crimson; padding: 1% 1% 0.5% 1%;">
                        <input type="checkbox" name="segui" id="segui">
                        <label for="segui"><b>Segui</b></label>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="d-flex justify-content-center">
            <h4><b>Organizzatori</b></h4>
        </div>

        <div class="organizzatori d-flex justify-content-between">
            <div class="col-lg-3">
                <ul>
                    <li id="img"><img src="assets/profilo.png" height="40"></li>
                    <li><b>Nome:</b> Franco</li>
                    <li><b>Cognome:</b> Baresi</li>
                    <li><b>Email:</b> francobaresi@gmail.com</li>
                    <li><b>Telefono:</b> 3387891564</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><img src="assets/profilo.png" height="40"></li>
                    <li><b>Nome:</b> Marco</li>
                    <li><b>Cognome:</b> Rossi</li>
                    <li><b>Email:</b> marcorossi75@gmail.com</li>
                    <li><b>Telefono:</b> 3457667894</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><img src="assets/profilo.png" height="40"></li>
                    <li><b>Nome:</b> Giuseppe</li>
                    <li><b>Cognome:</b> Falco</li>
                    <li><b>Email:</b> giuseppefalco1@gmail.com</li>
                    <li><b>Telefono:</b> 3881356487</li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <h4><b>Espositori</b></h4>
        </div>
        <div class="espositori d-flex justify-content-between">
            <div class="col-lg-3">
                <ul>
                    <li><img src="assets/profilo.png" height="40"></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><img src="assets/profilo.png" height="40"></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><img src="assets/profilo.png" height="40"></li>
                </ul>
            </div>
        </div>

        <div style="background-color: aqua; border-radius: 10px; text-align: center; margin:2%">
            <h1>Stato Evento <b>Da fare</b></h1>
        </div>
        
    </div>
</body>