<app-header></app-header>
<br>

<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> <!--img src={{usertoinsert.immagine}}-->
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith <!--{{usertoinsert.nome}} {{usertoinsert.cognome}}--></h4>
                    <p class="mb-0">@johnny.s <!--{{usertoinsert.email}}--></p>
                    <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                    <div class="mt-2">
                      <input type="file" [(ngModel)]="usertoinsert.immagine">

                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">ruolo</span>
                    <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Nome</label>
                              <input class="form-control" type="text" name="name" placeholder="John" value="John" [(ngModel)]="usertoinsert.nome">  <!--{{usertoinsert.nome}} -->
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Cognome</label>
                              <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s" [(ngModel)]="usertoinsert.cognome"> <!--{{usertoinsert.cognome}}-->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" placeholder="user@example.com" [(ngModel)]="usertoinsert.email"> <!--{{usertoinsert.email}} -->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password" placeholder="••••••" [(ngModel)]="vecchia_password"> <!--{{usertoinsert.password}}-->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••" [(ngModel)]="usertoinsert.password">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder="••••••" [(ngModel)]="ripetizione_password"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b>Keeping in Touch</b></div>
                        <div class="row">
                          <div class="col">
                            <label>Email Notifications</label>
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-eventi seguiti" checked="">
                                <label class="custom-control-label" for="notifications-eventi seguiti">Eventi Seguiti</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-nuovi eventi" checked="" >
                                <label class="custom-control-label" for="notifications-nuovi eventi">Nuovi Eventi </label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-espositori" checked="" >
                                <label class="custom-control-label" for="notifications-espositori">Dagli espositori</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-organizzatori" checked="" [(ngModel)]="usertoinsert.organizzatori">
                                <label class="custom-control-label" for="notifications-organizzatori">Dagli organizzatori</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit" (click)="UpdateUser(usertoinsert)">Save Changes</button>
                      </div>
                      <div class="alert alert-danger"
                        role="alert"
                        *ngIf="check_campi">
                        Riempire i campi richiesti
                      </div>
                      <div class="alert alert-danger"
                        role="alert"
                        *ngIf="check_password_attuale">
                        Password errata
                      </div>
                      <div class="alert alert-danger"
                        role="alert"
                        *ngIf="check_password">
                        Password errata2
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-secondary" (click)="logout()">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Support</h6>
            <p class="card-text">Richiedi assistenza in modo rapido </p>
            <button type="button" class="btn btn-primary">Contact Us</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<app-footer></app-footer>
