
<div class="slideshow">
      <ngb-carousel *ngIf="sponsoredEvents" class="picsum-img-wrapper">
        <ng-template ngbSlide *ngFor="let event of sponsoredEvents">
          <img [src]="event.img_src" alt="Random slide">
          <div class="carousel-caption">
            <h3>{{ event.product_name }}</h3>
            <p class="carousel-caption" [innerText]="event.productsortdisc"></p>
          </div>
        </ng-template>
      </ngb-carousel>
</div>

