
.picsum-img-wrapper{
    height: 400;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #333;
}


.carousel-caption{
    margin-bottom: 25px;
}

.slideshow {
    width: 100%;
    padding: 60px;

}

img {
    width:100%;
    border-radius: 20px;

}

@media screen and (max-width:850px){

    .slideshow{
        max-width: 100%;
        padding: 0px;
    }

    img {
        border-radius:0px;
    }

    .picsum-img-wrapper{
        border-radius: 0px;
    }
}