<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" >
    <img src="assets/EventX.png" width="" height="45" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEventx" aria-controls="navbarEventx" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarEventx">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link"  routerLink="/listaeventi">Eventi <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Espositori<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="cursore nav-link" routerLink="/creazioneEvento">Organizzatori</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" placeholder="Search..." aria-label="Search">
    </form>

    <div *ngIf="!authenticated">
      <button class="btn btn-outline-success my-2 my-sm-0 " type="button" routerLink="/login" style="margin-right: 5px;">Login</button>
      <button class="btn btn-primary btn-icon icon icon-primary" type="button" routerLink="/register">Sign-up</button>
    </div>

    <div *ngIf="authenticated">
      <a routerLink="/user"><i class="fas fa-user"></i> {{user.nome}}</a>
      <button class="btn btn-outline-success my-2 my-sm-0 " type="button" (click)="logout()" style="margin-left: 5px;">Logout</button>
    </div>

  </div>
</nav>
