@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
  	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.cursore:hover {
  cursor: pointer;
}



/* .b-example-divider {
  height: 2rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: rgb(0, 0, 0);
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
  width: 250px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 30px;
}

.form-control-dark:focus {
  color: rgb(0, 0, 0);
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
.btn-outline-light {
  background-color: #45A049;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  
}
.btn-warning:focus{
  color: rgb(0, 0, 0);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);

}
.btn-warning{
  background-color: cornflowerblue;
  border-radius: 10px;
  border-color: #F2F2F2;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-right: 0px;
}

.bi {
  vertical-align: -.120em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;

}
img {
padding-right: 20px;
opacity: 1;
float: left;
height: 40px;
margin-top: 20px;
}
.p-3{
background-color: #F2F2F2;
margin-top: -20px;
margin-right: px;
margin-left: px;
margin-bottom: -45px;
border-radius: 0px;
}
.header{
color: rgb(20, 183, 238);
margin:0px;
max-width: 20px;
padding: 0px;
}
.header.p-3{
padding: 0px;
}

.container{
padding-left:  0px;
padding-right: 0px;
margin-left: 0px;
margin-right: 0px;


}

div#hormenu {
width: 450px;

padding: 0px;
background-color: #F2F2F2;
border-radius: 20px;
margin-top: 10px;
margin-left: -10px;
}

div#hormenu ul{
margin: 0;
padding: 0;
list-style-type: none;

}

div#hormenu li
{
width: 70px;
float:left;


}
.nav-link{
background-color: #F2F2F2;
padding-right: 10px;
margin-right: 10px;
}
div#hormenu a
{
display: block;
padding-left: 10px;
color: rgb(14, 14, 14);
text-decoration: none;
}
div#hormenu a:hover
{
background-color: #f2f2f2;
color:rgb(0, 0, 0);
text-decoration: none;

}
div#hormenu li ul
{
display: none
}
div#hormenu li:hover ul
{
display: block;
position: absolute;
z-index:1;
width:150px;
padding: 0;
margin: 0 0 0 0px;
border-radius: 20px;
border:solid rgb(129, 123, 123);
background: #F2F2F2;
color:rgb(0, 0, 0);
}
div#hormenu li li { 
border:none; 
width:100%; 

}
div#hormenu li li a {
  padding: 2px;
  text-align: center;
  margin: 0px;
}


<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    }
  </style>




li#home {
margin-top: 10px;
margin-right: -5px;
width: 10%;
margin-left: -5px;

}
li#eventi {
margin-top: 10px;
margin-right: -5px;
width: 20%;
margin-left: -10px;
}
li#espositori {
margin-top: 10px;
margin-right: 20px;
width: 20%;
margin-left: -10px;
}
li#organizzatori {
margin-top: 10px;
margin-right: 20px;
margin-bottom: 10px;
margin-left: -15px;
padding-left: 5px;
width: 20%;
}
li#profilo {
margin-top: 10px;
margin-left: 15px;
padding-left: 5px;
width: 20%;
} */