/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';



html, body { height: 100%; overflow-x:hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

