<body>

      <div class="row" style="padding:20px" >
        <img src="assets/EventX.png" style="margin:auto; max-height: 200px;" alt="Logo">
      </div>

      <div class="row">

        <div class="col-md-6">

          <div class="row box">
            <h1>Vuoi Partecipare a un evento o organizzarlo?</h1>
          </div>

          <div class="row box2">

            <p >EventX è un'application Web che ti dà la possibilità di conoscere eventi di ogni tipo, di partecipare
              come Espositore durante una manifestazione o di organizzare un evento.

              Da espositore o Organizzatore
              dovrai autenticarti con il servizio SPID di identità digitale, e potrai diventare uno User-PRO,
              con l'opportunita di sponzorizzare eventi e articoli.
            </p>

          </div>

        </div>

        <div class="col-md-6">


          <div class="riquadro">

            <input type="text" class="form-control ricerca" placeholder="Dove ti trovi?">

            <button class="btn invio" type="button" routerLink="/listaeventi">Cerca Evento</button>

            <button class="btn btn-primary padded" routerLink="/home">Entra come Ospite</button>

            <button class="btn btn-danger pro" routerLink="/login-pro">Entra come Utente Pro</button>

          </div>

        </div>

        </div>



        <br>
        <br>




</body>

<br>

<app-footer></app-footer>
