
.domande {
    padding: 20px;
    margin:auto;
    align-self: center;
}

.form-control {
    padding: 10px;
    margin-left: 10px;
    border-color: black;
    border-radius: 4px;
    float: left;
}

.form-control:focus {
    color: black;
}



.search li {
    display: inline;
    padding-right: 20px;
}

div.box {
    text-align: center;
    color: #000;
    padding: 20px;
    margin:auto;
    max-width: 700px;
}
div.box2 {
  text-align: justify;
  color: #000;
  padding: 20px;
  margin:auto;
  max-width: 700px;
}

p {
  font-size: 25px;
}



body{
    background-image:URL("assets/sfondo-EventX.png");
    background-size:cover;
    width: 100%;
    height: 100%;
}

.riquadro {
    align-self: center;
    max-width: auto;
    height: auto;
    border-style: inset;
    border-width: 5px;
    border-color: rgb(4, 127, 209);
    border-radius: 20px;
}

.ricerca{ 
    align-self: center;
    max-width: 75%;
    margin-top: 5px;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;

   
    
   
}
.padded {
  margin-bottom: 5px;
  margin-left: 15px;
  border-radius: 15px;

}

.pro{
    align-self: center;
    max-width: 75%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border-radius: 15px;
    
}

.invio{
    background-color: rgb(8, 177, 8);
    margin-left: 10px;
    margin-top: 5px;
    max-width: auto;
    border-radius: 15px;

}


@media screen and (max-width: 650px)

{
    .ricerca {
        max-width: auto;
    }

    .padded {
        max-width: auto;
    }

    .pro{
        max-width: auto;
    }

    .invio{
        max-width: auto;
    }


}